<div class="jumbotron">

	<center>
			<h1>Welcome to My Pizza Shop!</h1>

			<img src="http://blog.nj.com/hobokennow_impact/2009/03/large_mariopizza.jpg">
			<br>

			<%= link_to "Check Out Our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>